<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>city_id</key>
		<integer>100010000</integer>
		<key>city_name</key>
		<string>北京市</string>
		<key>city_pinyin</key>
		<string>beijing</string>
		<key>short_name</key>
		<string>北京</string>
		<key>short_pinyin</key>
		<string>bj</string>
	</dict>
	<dict>
		<key>city_id</key>
		<integer>200010000</integer>
		<key>city_name</key>
		<string>上海市</string>
		<key>city_pinyin</key>
		<string>shanghai</string>
		<key>short_name</key>
		<string>上海</string>
		<key>short_pinyin</key>
		<string>sh</string>
	</dict>
	<dict>
		<key>city_id</key>
		<integer>500010000</integer>
		<key>city_name</key>
		<string>天津市</string>
		<key>city_pinyin</key>
		<string>tianjin</string>
		<key>short_name</key>
		<string>天津</string>
		<key>short_pinyin</key>
		<string>tj</string>
	</dict>
	<dict>
		<key>city_id</key>
		<integer>800010000</integer>
		<key>city_name</key>
		<string>成都市</string>
		<key>city_pinyin</key>
		<string>chengdu</string>
		<key>short_name</key>
		<string>成都</string>
		<key>short_pinyin</key>
		<string>cd</string>
	</dict>
	<dict>
		<key>city_id</key>
		<integer>600010000</integer>
		<key>city_name</key>
		<string>杭州市</string>
		<key>city_pinyin</key>
		<string>hangzhou</string>
		<key>short_name</key>
		<string>杭州</string>
		<key>short_pinyin</key>
		<string>hz</string>
	</dict>
	<dict>
		<key>city_id</key>
		<integer>2000010000</integer>
		<key>city_name</key>
		<string>郑州市</string>
		<key>city_pinyin</key>
		<string>zhengzhou</string>
		<key>short_name</key>
		<string>郑州</string>
		<key>short_pinyin</key>
		<string>zz</string>
	</dict>
	<dict>
		<key>city_id</key>
		<integer>300210000</integer>
		<key>city_name</key>
		<string>深圳市</string>
		<key>city_pinyin</key>
		<string>shenzhen</string>
		<key>short_name</key>
		<string>深圳</string>
		<key>short_pinyin</key>
		<string>sz</string>
	</dict>
	<dict>
		<key>city_id</key>
		<integer>1300020000</integer>
		<key>city_name</key>
		<string>沈阳市</string>
		<key>city_pinyin</key>
		<string>shenyang</string>
		<key>short_name</key>
		<string>沈阳</string>
		<key>short_pinyin</key>
		<string>sy</string>
	</dict>
	<dict>
		<key>city_id</key>
		<integer>300110000</integer>
		<key>city_name</key>
		<string>广州市</string>
		<key>city_pinyin</key>
		<string>guangzhou</string>
		<key>short_name</key>
		<string>广州</string>
		<key>short_pinyin</key>
		<string>gz</string>
	</dict>
</array>
</plist>
