<!DOCTYPE html>
<html>
    <head lang="en">
        
        <meta charset='utf-8'><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
            
            <style type="text/css">
                img {
                    clear: both;
                    width: 100%;
                    height:auto
                    display: block;
                }
        
            </style>
            
            <script type="text/javascript">
                
                
                function connectWebViewJavascriptBridge(callback) {
                    if (window.WebViewJavascriptBridge) {
                        callback(WebViewJavascriptBridge)
                    } else {
                        document.addEventListener('WebViewJavascriptBridgeReady',   function() {
                                                  callback(WebViewJavascriptBridge)
                                                  }, false)
                    }
                }
            
            
            connectWebViewJavascriptBridge(function(bridge) {
                                           
                                           bridge.init(function(message, responseCallback) {
                                                       
                                                       // 返回顶部
                                                       if (message == "1")
                                                       document.getElementById('content').scrollIntoView(true);
                                                       
                                                       // 跳到详情
                                                       if (message == "2")
                                                       document.getElementById('detail').scrollIntoView(true);
                                                       })
                                           
                                           bridge.registerHandler('imagesDownloadComplete',
                                                                  
                                                                  function(data,responseCallback){
                                                                  var allImage = document.querySelectorAll("img");
                                                                  allImage = Array.prototype.slice.call(allImage, 0);
                                                                  
                                                                  allImage.forEach(function(image) {
                                                                                   if (image.getAttribute("esrc") == data[0] || image.getAttribute("esrc") == decodeURIComponent(data[0])) {
                                                                                   image.src = data[1];
                                                                                   }
                                                                                   });
                                                                  
                                                                  })
                                           
                                           })
                                           
                                           function onLoaded() {
                                               
                                               connectWebViewJavascriptBridge(function(bridge) {
                                                                              
                                                                              var allImage = document.querySelectorAll("img");
                                                                              allImage = Array.prototype.slice.call(allImage, 0);
                                                                              var imageUrlsArray = new Array();
                                                                              allImage.forEach(function(image) {
                                                                                               var esrc = image.getAttribute("esrc");
                                                                                               var newLength = imageUrlsArray.push(esrc);
                                                                                               });
                                                                              
                                                                              bridge.send(imageUrlsArray);
                                                                              
                                                                              });
                                                                              
                                                                              
                                           }
            
                </script>
            
            </head>
    
    <body onload="onLoaded()">
        
        
        <h4 id = content>套餐内容</h4>
        
        <hr width=screen.width size=1 color=#DDDDDD align=center noshade>
        
        {{{contents }}}
        
        <hr width=screen.width size=1 color=#DDDDDD align=center noshade>
        
        <hr width=screen.width size=1 color=#DDDDDD align=center noshade  style="padding-top: 30px">
        
        <h4 id = detail>商家详情</h4>
        
        <hr width=screen.width size=1 color=#DDDDDD align=center noshade>
       
       {{{ description }}}
        
        
    </body>
</html>

